{% extends "base.html" %}

{% block content %}

<h1>Chat App</h1>
<h3>Welcome to the chat app, login below to access the app!</h3>

{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed, please log in with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.password.label_tag }}
    {{ form.password }}
    <input type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
</form>
Not yet registered? <a href="register/">Register now</a>

{% endblock %}